<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helloscala.common.mapper.ArticleTagMapper">
    <insert id="insertIgnoreArticleTags">
        insert ignore into b_article_tag (id, article_id, tag_id, create_time) values
        <foreach collection="tagIds" item="tagId" index="index" separator=",">
            (null, #{articleId}, #{tagId}, now())
        </foreach>
    </insert>
</mapper>
